<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block titulo %}
    <h1>Lista de mis Mascotas</h1>
    {% endblock %}

    {% block contenido %}
    <h2><a href="/mascotas/alta">Cargar una nueva mascota.</a></h2>

    <ul>
    {% for mascota in lista_mascotas %}
        <li>
            
        Id: {{mascota.id}} Nombre: {{mascota.nombre}}, Dueño: {{mascota.dueno}}, Peso: {{mascota.peso}} KG
        <a href="/mascotas/actualizar/{{ mascota.id }}">Actualizar</a>
        <a href="/mascotas/borrar/{{ mascota.id }}">Borrar</a>
        </li>
    {% endfor %}
    </ul>
    <a href="/pagina-principal">Volver a la pagina principal</a>
    {% endblock %}
        
</body>
</html>